<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <header>
            
            <a href="home.php">Home</a>
            <a href="login.html">login</a>
            <a href="register.html">Registration</a>
    </header> <br><br><br>
    <fieldset>
        <legend>LOGIN</legend>
        <form action="../controller/loginCheck.php" method="post">
            User Name : <input type="text" name="name"><br>
            Password : <input type="password" name="password"><br><hr>
            
            <input type="submit" name="submit">
            
        </form>
    </fieldset><br><br><br>
    <footer>
        copyright 2017

    </footer>
</body>
</html>